body {
	background-color: rgb(239, 235, 220);
	background-image: url(../imagenes/wallpaper2.jpg);
	background-position: center center;
	background-size: cover;
}

.cartasPresentacion {
	border-radius: 10px;
	border: 5px solid rgb(66, 66, 66);
}

.trap-card {
	background-color: rgb( 192, 72, 146);
	color: black;
}

.magic-card {
	background-color: rgb(54, 161, 111);
	color: black;
}

.normalMonster {
	background-color: rgb(241, 196, 15);
	color: black;
}

.index-button {
	border-color: grey;
	background-color: white;
	color: black;
}

.imagenesGeneral {
	border-radius: 15px;
	border:5px solid black;
}

.webContainer {
	border:2px solid black;
	border-top: 0px;
	border-bottom: 0px;
	height: 100%
}



#barraNavegacion {
	border-radius: 5px;
	border: 2px solid rgb(186, 186, 186);
	background-color: rgb(240, 240, 240);
}

.twBox {
	position: sticky;
	top: 10px;
	border-radius: 5px;
	border: 2px solid rgb(66, 66, 66);
	background-color: white;
}

#cartaImagen {
	display: flex;
	justify-content: center;
}

#cartaImagen img {
	width: 70%;
	margin-bottom: 5%;
}

#barraDeBusqueda {
	display: flex;
	justify-content: center;
}

#barraDeBusqueda div {
	display: block;
}

#barraDeBusqueda input {
	display: block;
}

#barraDeBusqueda button {
	display: block;
}

.entradaNombre {
	width: 100%;
	height: 100%;
}